In [15]:
# start with same reformating as in the cleaning, I'm gonna try with only the 3rd set of data, though
import pandas as pd

In [16]:
# changing numbers to the categorical data they represent
def categories(column, values):
    for i in range(len(column)):
        column[i] = values[column[i] - 1]
    return(column)

In [17]:
# making list of column values
# age
c1 = ['18-21', '22-25', 'above 26']
### 2 - Sex   
c2 = ['f','m']
#3 - Graduated high-school type
c3 = ['private', 'state', 'other']
#4 - Scholarship type           
c4 = ['none', '25%', '50%', '75%', 'full']
#5 - Additional work    
c5 = [1, 0]
#6 - Regular artistic or sports activity   
c6 = [1, 0]
#7 - Marital Status                        
c7 = [1, 0]
#8 - Total salary if available            
c8 = ['135-200', '201-270', '271-340', '341-410', '410']
### 9 - Transportation to the university      
c9 = ['bus', 'car/taxi', 'bicycle', 'other']
### 10 - Accomodation type in Cyprus   
c10 = ['rental', 'dorm', 'family', 'other']
### 11 - Mother's education  
c11 = ['primary', 'secondary', 'high', 'uni', 'msc.', 'ph.d']
### 12 - Father's education
c12 = ['primary', 'secondary', 'high', 'uni', 'msc.', 'ph.d']
### 13 - Number of sisters/brothers (if available)
c13 = [1, 2, 3, 4, 5]
### 14 - Parental Marital Status
c14 = ['married', 'divorced', 'died']
### 15 - Mother's occupation
c15 = ['retired', 'housewife', 'gov', 'private', 'self', 'other']
### 16 - Father's occupation
c16 = ['retired', 'housewife', 'gov', 'private', 'self', 'other']
### 17 - Weekly study hours
c17 = ['none', '<5', '6-10', '11-20', '>20']
### 18 - Reading frequency (non-scientific books/journals)
c18 = ['none', 'sometimes', 'often']
### 19 - Reading frequency ((scientific books/journals)
c19 = ['none', 'sometimes', 'often']
### 20 - Attendance to the seminars/conferences related to the department
c20 = [1, 0]
### 21 - Impact of your projects/activities on your success
c21 = ['positive', 'negative', 'neutral']
### 22 - Attendance to classes
c22 = ['always', 'sometimes', 'never']
### 23 - Preparation to midterm exams 1
c23 = ['alone', 'friends', 'na']
### 24 - Preparation to midterm exams 2
c24 = ['close', 'regular', 'never']
### 25 - Taking notes in classes
c25 = ['never', 'sometimes', 'always']
### 26 - Listening in classes
c26 = ['never', 'sometimes', 'always']
### 27 - Discussion improves my interest and success in the course
c27 = ['never', 'sometimes', 'always']
### 28 - Flip-classroom (prepare by reading / learning content before, then practice in-class)
c28 = ['nu', 'u', 'na']
### 29 - Cumulative grade point average in the last semester (/4.00)
c29 = ['<2.00', '2.00-2.49', '2.50-2.99','3.00-3.49', '>3.49']
### 30 - Expected Cumulative grade point average in the graduation (/4.00)
c30 = ['<2.00', '2.00-2.49', '2.50-2.99','3.00-3.49', '>3.49']
### Course ID
c31 = ['1', '2', '3', '4', '5', '6', '7', '8', '9']
### OUTPUT Grade
grade = ['dd', 'dc', 'cc', 'cb', 'bb', 'ba', 'aa', 'fail']

# list of stuff to go through now
cats = [c1, c2, c3, c4, c5, c6, c7, c8, c9, c10, c11, c12, c13, c14, c15, c16, c17, c18, c19, c20, c21, c22, c23, c24, c25, c26, c27, c28, c29, c30, c31, grade]
cats

[['18-21', '22-25', 'above 26'],
 ['f', 'm'],
 ['private', 'state', 'other'],
 ['none', '25%', '50%', '75%', 'full'],
 [1, 0],
 [1, 0],
 [1, 0],
 ['135-200', '201-270', '271-340', '341-410', '410'],
 ['bus', 'car/taxi', 'bicycle', 'other'],
 ['rental', 'dorm', 'family', 'other'],
 ['primary', 'secondary', 'high', 'uni', 'msc.', 'ph.d'],
 ['primary', 'secondary', 'high', 'uni', 'msc.', 'ph.d'],
 [1, 2, 3, 4, 5],
 ['married', 'divorced', 'died'],
 ['retired', 'housewife', 'gov', 'private', 'self', 'other'],
 ['retired', 'housewife', 'gov', 'private', 'self', 'other'],
 ['none', '<5', '6-10', '11-20', '>20'],
 ['none', 'sometimes', 'often'],
 ['none', 'sometimes', 'often'],
 [1, 0],
 ['positive', 'negative', 'neutral'],
 ['always', 'sometimes', 'never'],
 ['alone', 'friends', 'na'],
 ['close', 'regular', 'never'],
 ['never', 'sometimes', 'always'],
 ['never', 'sometimes', 'always'],
 ['never', 'sometimes', 'always'],
 ['nu', 'u', 'na'],
 ['<2.00', '2.00-2.49', '2.50-2.99', '3.00-3.49', '>3.49'],
 ['<2.00', '2.00-2.49', '2.50-2.99', '3.00-3.49', '>3.49'],
 ['1', '2', '3', '4', '5', '6', '7', '8', '9'],
 ['dd', 'dc', 'cc', 'cb', 'bb', 'ba', 'aa', 'fail']]

In [20]:
df = pd.read_csv('raw_data.csv')
df

,STUDENT ID,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,COURSE ID,GRADE
0,STUDENT1,2,2,3,3,1,2,2,1,1,...,1,1,3,2,1,2,1,1,1,1
1,STUDENT2,2,2,3,3,1,2,2,1,1,...,1,1,3,2,3,2,2,3,1,1
2,STUDENT3,2,2,2,3,2,2,2,2,4,...,1,1,2,2,1,1,2,2,1,1
3,STUDENT4,1,1,1,3,1,2,1,2,1,...,1,2,3,2,2,1,3,2,1,1
4,STUDENT5,2,2,1,3,2,2,1,3,1,...,2,1,2,2,2,1,2,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,STUDENT141,2,1,2,3,1,1,2,1,1,...,1,1,2,1,2,1,3,3,9,5
141,STUDENT142,1,1,2,4,2,2,2,1,4,...,1,1,3,2,2,1,5,3,9,5
142,STUDENT143,1,1,1,4,2,2,2,1,1,...,1,1,3,3,2,1,4,3,9,1
143,STUDENT144,2,1,2,4,1,1,1,5,2,...,2,1,2,1,2,1,5,3,9,4
144,STUDENT145,1,1,1,5,2,2,2,3,1,...,2,1,3,2,3,1,5,4,9,3

In [21]:
new_names = [
    'STUDENT ID', 'Student Age', 'Sex', 'High-school type', 'Scholarship type', 'Additional work',
    'Art/Sports', 'Marital Status', 'Salary', 'Transportation to the university',
    'Accommodation type in Cyprus', "Mother's education", "Father's education",
    'Sisters/brothers', 'Parental Marital Status', "Mother's occupation",
    "Father's occupation", 'Weekly study hours', 'Reading frequency (non-science)',
    'Reading frequency (science)', 'Seminars/Conferences', 'Projects/Activities',
    'Attendance to classes', 'Preparation to midterm exams 1', 'Preparation to midterm exams 2',
    'Taking notes in classes', 'Listening in classes', 'Discussion', 'Flip-classroom',
    'GPA (/4.00)', 'Exp GPA', 'COURSE ID', 'GRADE'
]
df.columns = new_names
df.set_index('STUDENT ID', inplace = True)
df.head()

,Student Age,Sex,High-school type,Scholarship type,Additional work,Art/Sports,Marital Status,Salary,Transportation to the university,Accommodation type in Cyprus,...,Preparation to midterm exams 1,Preparation to midterm exams 2,Taking notes in classes,Listening in classes,Discussion,Flip-classroom,GPA (/4.00),Exp GPA,COURSE ID,GRADE
STUDENT ID,,,,,,,,,,,,,,,,,,,,,
STUDENT1,2,2,3,3,1,2,2,1,1,1,...,1,1,3,2,1,2,1,1,1,1
STUDENT2,2,2,3,3,1,2,2,1,1,1,...,1,1,3,2,3,2,2,3,1,1
STUDENT3,2,2,2,3,2,2,2,2,4,2,...,1,1,2,2,1,1,2,2,1,1
STUDENT4,1,1,1,3,1,2,1,2,1,2,...,1,2,3,2,2,1,3,2,1,1
STUDENT5,2,2,1,3,2,2,1,3,1,4,...,2,1,2,2,2,1,2,2,1,1

In [22]:
# update data
categorical_df = df.copy()
for i in range(len(categorical_df.columns)):
    col = categorical_df.columns[i]
    categorical_df[col] = categories(categorical_df[col].to_list(), cats[i])
categorical_df.head()

,Student Age,Sex,High-school type,Scholarship type,Additional work,Art/Sports,Marital Status,Salary,Transportation to the university,Accommodation type in Cyprus,...,Preparation to midterm exams 1,Preparation to midterm exams 2,Taking notes in classes,Listening in classes,Discussion,Flip-classroom,GPA (/4.00),Exp GPA,COURSE ID,GRADE
STUDENT ID,,,,,,,,,,,,,,,,,,,,,
STUDENT1,22-25,m,other,50%,1,0,0,135-200,bus,rental,...,alone,close,always,sometimes,never,u,<2.00,<2.00,1,dd
STUDENT2,22-25,m,other,50%,1,0,0,135-200,bus,rental,...,alone,close,always,sometimes,always,u,2.00-2.49,2.50-2.99,1,dd
STUDENT3,22-25,m,state,50%,0,0,0,201-270,other,dorm,...,alone,close,sometimes,sometimes,never,nu,2.00-2.49,2.00-2.49,1,dd
STUDENT4,18-21,f,private,50%,1,0,1,201-270,bus,dorm,...,alone,regular,always,sometimes,sometimes,nu,2.50-2.99,2.00-2.49,1,dd
STUDENT5,22-25,m,private,50%,0,0,1,271-340,bus,other,...,friends,close,sometimes,sometimes,sometimes,nu,2.00-2.49,2.00-2.49,1,dd

In [29]:
personal_and_family_df = categorical_df.iloc[:, [16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]]
personal_and_family_df.head()

,Weekly study hours,Reading frequency (non-science),Reading frequency (science),Seminars/Conferences,Projects/Activities,Attendance to classes,Preparation to midterm exams 1,Preparation to midterm exams 2,Taking notes in classes,Listening in classes,Discussion,Flip-classroom,GPA (/4.00),Exp GPA,COURSE ID
STUDENT ID,,,,,,,,,,,,,,,
STUDENT1,6-10,sometimes,sometimes,1,positive,always,alone,close,always,sometimes,never,u,<2.00,<2.00,1
STUDENT2,<5,sometimes,sometimes,1,positive,always,alone,close,always,sometimes,always,u,2.00-2.49,2.50-2.99,1
STUDENT3,<5,none,sometimes,1,positive,always,alone,close,sometimes,sometimes,never,nu,2.00-2.49,2.00-2.49,1
STUDENT4,6-10,none,sometimes,1,positive,always,alone,regular,always,sometimes,sometimes,nu,2.50-2.99,2.00-2.49,1
STUDENT5,<5,none,none,1,positive,always,friends,close,sometimes,sometimes,sometimes,nu,2.00-2.49,2.00-2.49,1

In [49]:
X = pd.get_dummies(personal_and_family_df.iloc[:,0:3])
X = pd.concat([X, personal_and_family_df['Seminars/Conferences']], axis = 1)
X = pd.concat([X, pd.get_dummies(personal_and_family_df.iloc[:,4:])], axis = 1)
X.head()

,Weekly study hours_11-20,Weekly study hours_6-10,Weekly study hours_<5,Weekly study hours_>20,Weekly study hours_none,Reading frequency (non-science)_none,Reading frequency (non-science)_often,Reading frequency (non-science)_sometimes,Reading frequency (science)_none,Reading frequency (science)_often,...,Exp GPA_<2.00,COURSE ID_1,COURSE ID_2,COURSE ID_3,COURSE ID_4,COURSE ID_5,COURSE ID_6,COURSE ID_7,COURSE ID_8,COURSE ID_9
STUDENT ID,,,,,,,,,,,,,,,,,,,,,
STUDENT1,0,1,0,0,0,0,0,1,0,0,...,1,1,0,0,0,0,0,0,0,0
STUDENT2,0,0,1,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
STUDENT3,0,0,1,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
STUDENT4,0,1,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
STUDENT5,0,0,1,0,0,1,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0

In [50]:
y = pd.get_dummies(categorical_df[['GRADE']])
y.head()

,GRADE_aa,GRADE_ba,GRADE_bb,GRADE_cb,GRADE_cc,GRADE_dc,GRADE_dd,GRADE_fail
STUDENT ID,,,,,,,,
STUDENT1,0,0,0,0,0,0,1,0
STUDENT2,0,0,0,0,0,0,1,0
STUDENT3,0,0,0,0,0,0,1,0
STUDENT4,0,0,0,0,0,0,1,0
STUDENT5,0,0,0,0,0,0,1,0

In [73]:
# model dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.metrics import confusion_matrix

In [329]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 0, train_size = .8, test_size = .2)

In [334]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = X_train.shape[1] # number of columns
hidden_nodes_layer1 = 100
hidden_nodes_layer2 = 30
nn = Sequential()

# First hidden layer
nn.add(Dense(units = hidden_nodes_layer1, activation = 'relu', input_dim = number_input_features))
# Second hidden layer
nn.add(Dense(units = hidden_nodes_layer2, activation = 'relu'))
# Output layer
nn.add(Dense(units = y_train.shape[1], activation = 'sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_55"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_166 (Dense)           (None, 100)               5400

 dense_167 (Dense)           (None, 30)                3030

 dense_168 (Dense)           (None, 8)                 248

=================================================================
Total params: 8678 (33.90 KB)
Trainable params: 8678 (33.90 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [335]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics = ['accuracy'])

In [336]:
# Train - I found anything past 75 was probably overtraining, given the limited data
nn.fit(X_train, y_train, epochs = 75)

Epoch 1/75
4/4 [==============================] - 1s 2ms/step - loss: 0.6991 - accuracy: 0.0948
Epoch 2/75
4/4 [==============================] - 0s 2ms/step - loss: 0.6622 - accuracy: 0.1207
Epoch 3/75
4/4 [==============================] - 0s 3ms/step - loss: 0.6323 - accuracy: 0.1034
Epoch 4/75
4/4 [==============================] - 0s 3ms/step - loss: 0.6041 - accuracy: 0.1207
Epoch 5/75
4/4 [==============================] - 0s 2ms/step - loss: 0.5762 - accuracy: 0.1552
Epoch 6/75
4/4 [==============================] - 0s 2ms/step - loss: 0.5474 - accuracy: 0.1724
Epoch 7/75
4/4 [==============================] - 0s 3ms/step - loss: 0.5185 - accuracy: 0.1724
Epoch 8/75
4/4 [==============================] - 0s 3ms/step - loss: 0.4881 - accuracy: 0.1724
Epoch 9/75
4/4 [==============================] - 0s 3ms/step - loss: 0.4588 - accuracy: 0.1724
Epoch 10/75
4/4 [==============================] - 0s 3ms/step - loss: 0.4305 - accuracy: 0.1810
Epoch 11/75
4/4 [==============================] - 0s 2ms/step - loss: 0.4050 - accuracy: 0.1724
Epoch 12/75
4/4 [==============================] - 0s 3ms/step - loss: 0.3835 - accuracy: 0.1897
Epoch 13/75
4/4 [==============================] - 0s 3ms/step - loss: 0.3681 - accuracy: 0.1897
Epoch 14/75
4/4 [==============================] - 0s 3ms/step - loss: 0.3560 - accuracy: 0.2155
Epoch 15/75
4/4 [==============================] - 0s 3ms/step - loss: 0.3460 - accuracy: 0.2414
Epoch 16/75
4/4 [==============================] - 0s 3ms/step - loss: 0.3385 - accuracy: 0.2845
Epoch 17/75
4/4 [==============================] - 0s 2ms/step - loss: 0.3323 - accuracy: 0.4310
Epoch 18/75
4/4 [==============================] - 0s 2ms/step - loss: 0.3263 - accuracy: 0.4483
Epoch 19/75
4/4 [==============================] - 0s 3ms/step - loss: 0.3206 - accuracy: 0.4828
Epoch 20/75
4/4 [==============================] - 0s 2ms/step - loss: 0.3157 - accuracy: 0.4914
Epoch 21/75
4/4 [==============================] - 0s 3ms/step - loss: 0.3105 - accuracy: 0.5000
Epoch 22/75
4/4 [==============================] - 0s 3ms/step - loss: 0.3054 - accuracy: 0.4828
Epoch 23/75
4/4 [==============================] - 0s 2ms/step - loss: 0.3004 - accuracy: 0.4828
Epoch 24/75
4/4 [==============================] - 0s 2ms/step - loss: 0.2955 - accuracy: 0.5000
Epoch 25/75
4/4 [==============================] - 0s 3ms/step - loss: 0.2905 - accuracy: 0.5259
Epoch 26/75
4/4 [==============================] - 0s 3ms/step - loss: 0.2856 - accuracy: 0.5690
Epoch 27/75
4/4 [==============================] - 0s 2ms/step - loss: 0.2806 - accuracy: 0.5862
Epoch 28/75
4/4 [==============================] - 0s 2ms/step - loss: 0.2760 - accuracy: 0.6034
Epoch 29/75
4/4 [==============================] - 0s 2ms/step - loss: 0.2710 - accuracy: 0.6121
Epoch 30/75
4/4 [==============================] - 0s 3ms/step - loss: 0.2663 - accuracy: 0.6121
Epoch 31/75
4/4 [==============================] - 0s 2ms/step - loss: 0.2614 - accuracy: 0.6121
Epoch 32/75
4/4 [==============================] - 0s 2ms/step - loss: 0.2574 - accuracy: 0.6466
Epoch 33/75
4/4 [==============================] - 0s 3ms/step - loss: 0.2527 - accuracy: 0.6638
Epoch 34/75
4/4 [==============================] - 0s 2ms/step - loss: 0.2481 - accuracy: 0.6552
Epoch 35/75
4/4 [==============================] - 0s 5ms/step - loss: 0.2440 - accuracy: 0.6724
Epoch 36/75
4/4 [==============================] - 0s 2ms/step - loss: 0.2400 - accuracy: 0.6810
Epoch 37/75
4/4 [==============================] - 0s 3ms/step - loss: 0.2357 - accuracy: 0.6810
Epoch 38/75
4/4 [==============================] - 0s 3ms/step - loss: 0.2319 - accuracy: 0.6897
Epoch 39/75
4/4 [==============================] - 0s 2ms/step - loss: 0.2277 - accuracy: 0.6897
Epoch 40/75
4/4 [==============================] - 0s 3ms/step - loss: 0.2238 - accuracy: 0.7069
Epoch 41/75
4/4 [==============================] - 0s 2ms/step - loss: 0.2199 - accuracy: 0.7241
Epoch 42/75
4/4 [==============================] - 0s 2ms/step - loss: 0.2159 - accuracy: 0.7241
Epoch 43/75
4/4 [==============================] - 0s 3ms/step - loss: 0.2122 - accuracy: 0.7328
Epoch 44/75
4/4 [==============================] - 0s 3ms/step - loss: 0.2089 - accuracy: 0.7414
Epoch 45/75
4/4 [==============================] - 0s 2ms/step - loss: 0.2052 - accuracy: 0.7414
Epoch 46/75
4/4 [==============================] - 0s 2ms/step - loss: 0.2019 - accuracy: 0.7500
Epoch 47/75
4/4 [==============================] - 0s 3ms/step - loss: 0.1986 - accuracy: 0.7672
Epoch 48/75
4/4 [==============================] - 0s 2ms/step - loss: 0.1953 - accuracy: 0.7672
Epoch 49/75
4/4 [==============================] - 0s 2ms/step - loss: 0.1916 - accuracy: 0.7672
Epoch 50/75
4/4 [==============================] - 0s 3ms/step - loss: 0.1879 - accuracy: 0.7845
Epoch 51/75
4/4 [==============================] - 0s 3ms/step - loss: 0.1846 - accuracy: 0.7845
Epoch 52/75
4/4 [==============================] - 0s 2ms/step - loss: 0.1818 - accuracy: 0.7931
Epoch 53/75
4/4 [==============================] - 0s 3ms/step - loss: 0.1787 - accuracy: 0.8017
Epoch 54/75
4/4 [==============================] - 0s 3ms/step - loss: 0.1752 - accuracy: 0.8017
Epoch 55/75
4/4 [==============================] - 0s 2ms/step - loss: 0.1723 - accuracy: 0.8190
Epoch 56/75
4/4 [==============================] - 0s 2ms/step - loss: 0.1696 - accuracy: 0.8190
Epoch 57/75
4/4 [==============================] - 0s 3ms/step - loss: 0.1659 - accuracy: 0.8190
Epoch 58/75
4/4 [==============================] - 0s 2ms/step - loss: 0.1631 - accuracy: 0.8190
Epoch 59/75
4/4 [==============================] - 0s 3ms/step - loss: 0.1600 - accuracy: 0.8190
Epoch 60/75
4/4 [==============================] - 0s 3ms/step - loss: 0.1570 - accuracy: 0.8190
Epoch 61/75
4/4 [==============================] - 0s 2ms/step - loss: 0.1541 - accuracy: 0.8190
Epoch 62/75
4/4 [==============================] - 0s 2ms/step - loss: 0.1515 - accuracy: 0.8276
Epoch 63/75
4/4 [==============================] - 0s 2ms/step - loss: 0.1486 - accuracy: 0.8276
Epoch 64/75
4/4 [==============================] - 0s 2ms/step - loss: 0.1457 - accuracy: 0.8448
Epoch 65/75
4/4 [==============================] - 0s 2ms/step - loss: 0.1431 - accuracy: 0.8448
Epoch 66/75
4/4 [==============================] - 0s 2ms/step - loss: 0.1408 - accuracy: 0.8448
Epoch 67/75
4/4 [==============================] - 0s 2ms/step - loss: 0.1376 - accuracy: 0.8621
Epoch 68/75
4/4 [==============================] - 0s 2ms/step - loss: 0.1353 - accuracy: 0.8621
Epoch 69/75
4/4 [==============================] - 0s 2ms/step - loss: 0.1325 - accuracy: 0.8707
Epoch 70/75
4/4 [==============================] - 0s 2ms/step - loss: 0.1306 - accuracy: 0.8793
Epoch 71/75
4/4 [==============================] - 0s 2ms/step - loss: 0.1279 - accuracy: 0.8793
Epoch 72/75
4/4 [==============================] - 0s 3ms/step - loss: 0.1249 - accuracy: 0.8966
Epoch 73/75
4/4 [==============================] - 0s 2ms/step - loss: 0.1227 - accuracy: 0.8879
Epoch 74/75
4/4 [==============================] - 0s 2ms/step - loss: 0.1202 - accuracy: 0.8879
Epoch 75/75
4/4 [==============================] - 0s 2ms/step - loss: 0.1181 - accuracy: 0.9052

In [337]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

1/1 - 0s - loss: 0.3277 - accuracy: 0.4483 - 118ms/epoch - 118ms/step
Loss: 0.32770639657974243, Accuracy: 0.4482758641242981

In [278]:
# ran a few times, pretty consistently around 40%, up to 45% or so...
# let's see if adding / removing anything might help
df.columns

Index(['Student Age', 'Sex', 'High-school type', 'Scholarship type',
       'Additional work', 'Art/Sports', 'Marital Status', 'Salary',
       'Transportation to the university', 'Accommodation type in Cyprus',
       'Mother's education', 'Father's education', 'Sisters/brothers',
       'Parental Marital Status', 'Mother's occupation', 'Father's occupation',
       'Weekly study hours', 'Reading frequency (non-science)',
       'Reading frequency (science)', 'Seminars/Conferences',
       'Projects/Activities', 'Attendance to classes',
       'Preparation to midterm exams 1', 'Preparation to midterm exams 2',
       'Taking notes in classes', 'Listening in classes', 'Discussion',
       'Flip-classroom', 'GPA (/4.00)', 'Exp GPA', 'COURSE ID', 'GRADE'],
      dtype='object')

In [313]:
# let's try just throwing all the personal info that might help the model in there too. what could go wrong?
X2 = pd.get_dummies(categorical_df[['Student Age',
                                    'Sex',
                                    'Scholarship type',
                                    'High-school type',
                                    "Mother's education",
                                    "Father's education",
                                    'Weekly study hours',
                                    'Reading frequency (non-science)',
                                    'Reading frequency (science)',
                                    'Projects/Activities',
                                    'Attendance to classes',
                                    'Preparation to midterm exams 1',
                                    'Preparation to midterm exams 2',
                                    'Taking notes in classes',
                                    'Listening in classes',
                                    'Discussion',
                                    'GPA (/4.00)',
                                    'Exp GPA',
                                    'COURSE ID']])
X2['Seminars/Conferences'] = personal_and_family_df['Seminars/Conferences']
X2.head()

,Student Age_18-21,Student Age_22-25,Student Age_above 26,Sex_f,Sex_m,Scholarship type_25%,Scholarship type_50%,Scholarship type_75%,Scholarship type_full,Scholarship type_none,...,COURSE ID_1,COURSE ID_2,COURSE ID_3,COURSE ID_4,COURSE ID_5,COURSE ID_6,COURSE ID_7,COURSE ID_8,COURSE ID_9,Seminars/Conferences
STUDENT ID,,,,,,,,,,,,,,,,,,,,,
STUDENT1,0,1,0,0,1,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,1
STUDENT2,0,1,0,0,1,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,1
STUDENT3,0,1,0,0,1,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,1
STUDENT4,1,0,0,1,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,1
STUDENT5,0,1,0,0,1,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,1

In [324]:
# Split the preprocessed data into a training and testing dataset
X_train2, X_test2, y_train2, y_test2 = train_test_split(X2, y, random_state = 1, train_size = .8, test_size = .2)

In [352]:
# Define the model
number_input_features = X_train2.shape[1]
hidden_nodes_layer1 = 150 # more here
hidden_nodes_layer2 = 70 # more here
nn2 = Sequential()
# hidden layers
nn2.add(Dense(units = hidden_nodes_layer1, activation = 'relu', input_dim = number_input_features))
nn2.add(Dense(units = hidden_nodes_layer2, activation = 'relu'))
nn2.add(Dense(units = y_train2.shape[1], activation = 'sigmoid'))
# Check the structure of the model
nn2.summary()

Model: "sequential_60"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_177 (Dense)           (None, 150)               11400

 rbf_layer_4 (RBFLayer)      (None, 30)                4500

 dense_178 (Dense)           (None, 8)                 248

=================================================================
Total params: 16148 (63.08 KB)
Trainable params: 16148 (63.08 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [353]:
# Compile the model
nn2.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics = ['accuracy'])

In [354]:
# Train - any over 50 or so was probably overfitting
nn2.fit(X_train2, y_train2, epochs = 150)

Epoch 1/150
4/4 [==============================] - 1s 3ms/step - loss: 0.6924 - accuracy: 0.1034
Epoch 2/150
4/4 [==============================] - 0s 3ms/step - loss: 0.6894 - accuracy: 0.0948
Epoch 3/150
4/4 [==============================] - 0s 3ms/step - loss: 0.6831 - accuracy: 0.1121
Epoch 4/150
4/4 [==============================] - 0s 3ms/step - loss: 0.6678 - accuracy: 0.1207
Epoch 5/150
4/4 [==============================] - 0s 3ms/step - loss: 0.6393 - accuracy: 0.1207
Epoch 6/150
4/4 [==============================] - 0s 3ms/step - loss: 0.5975 - accuracy: 0.1207
Epoch 7/150
4/4 [==============================] - 0s 3ms/step - loss: 0.5536 - accuracy: 0.1207
Epoch 8/150
4/4 [==============================] - 0s 3ms/step - loss: 0.5162 - accuracy: 0.1207
Epoch 9/150
4/4 [==============================] - 0s 3ms/step - loss: 0.4872 - accuracy: 0.1207
Epoch 10/150
4/4 [==============================] - 0s 3ms/step - loss: 0.4637 - accuracy: 0.1207
Epoch 11/150
4/4 [==============================] - 0s 3ms/step - loss: 0.4432 - accuracy: 0.1207
Epoch 12/150
4/4 [==============================] - 0s 3ms/step - loss: 0.4255 - accuracy: 0.1207
Epoch 13/150
4/4 [==============================] - 0s 3ms/step - loss: 0.4112 - accuracy: 0.1207
Epoch 14/150
4/4 [==============================] - 0s 3ms/step - loss: 0.4003 - accuracy: 0.1207
Epoch 15/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3911 - accuracy: 0.1207
Epoch 16/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3839 - accuracy: 0.1207
Epoch 17/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3777 - accuracy: 0.1293
Epoch 18/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3733 - accuracy: 0.1379
Epoch 19/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3697 - accuracy: 0.1466
Epoch 20/150
4/4 [==============================] - 0s 2ms/step - loss: 0.3665 - accuracy: 0.1552
Epoch 21/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3643 - accuracy: 0.2586
Epoch 22/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3621 - accuracy: 0.3362
Epoch 23/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3605 - accuracy: 0.3448
Epoch 24/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3589 - accuracy: 0.3534
Epoch 25/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3576 - accuracy: 0.3621
Epoch 26/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3564 - accuracy: 0.3793
Epoch 27/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3552 - accuracy: 0.3707
Epoch 28/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3542 - accuracy: 0.3621
Epoch 29/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3532 - accuracy: 0.3362
Epoch 30/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3522 - accuracy: 0.3190
Epoch 31/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3512 - accuracy: 0.3017
Epoch 32/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3503 - accuracy: 0.3103
Epoch 33/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3493 - accuracy: 0.3362
Epoch 34/150
4/4 [==============================] - 0s 4ms/step - loss: 0.3485 - accuracy: 0.3362
Epoch 35/150
4/4 [==============================] - 0s 4ms/step - loss: 0.3474 - accuracy: 0.3621
Epoch 36/150
4/4 [==============================] - 0s 4ms/step - loss: 0.3465 - accuracy: 0.3793
Epoch 37/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3455 - accuracy: 0.4138
Epoch 38/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3446 - accuracy: 0.4310
Epoch 39/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3437 - accuracy: 0.4397
Epoch 40/150
4/4 [==============================] - 0s 8ms/step - loss: 0.3426 - accuracy: 0.4397
Epoch 41/150
4/4 [==============================] - 0s 4ms/step - loss: 0.3417 - accuracy: 0.4483
Epoch 42/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3408 - accuracy: 0.4655
Epoch 43/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3398 - accuracy: 0.4741
Epoch 44/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3388 - accuracy: 0.5000
Epoch 45/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3379 - accuracy: 0.5000
Epoch 46/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3369 - accuracy: 0.5431
Epoch 47/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3360 - accuracy: 0.5517
Epoch 48/150
4/4 [==============================] - 0s 2ms/step - loss: 0.3351 - accuracy: 0.5690
Epoch 49/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3342 - accuracy: 0.5862
Epoch 50/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3333 - accuracy: 0.5948
Epoch 51/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3323 - accuracy: 0.5948
Epoch 52/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3314 - accuracy: 0.5948
Epoch 53/150
4/4 [==============================] - 0s 6ms/step - loss: 0.3305 - accuracy: 0.5862
Epoch 54/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3296 - accuracy: 0.5862
Epoch 55/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3287 - accuracy: 0.5862
Epoch 56/150
4/4 [==============================] - 0s 2ms/step - loss: 0.3278 - accuracy: 0.5862
Epoch 57/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3269 - accuracy: 0.5862
Epoch 58/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3260 - accuracy: 0.5948
Epoch 59/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3252 - accuracy: 0.6121
Epoch 60/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3243 - accuracy: 0.6207
Epoch 61/150
4/4 [==============================] - 0s 2ms/step - loss: 0.3234 - accuracy: 0.6293
Epoch 62/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3226 - accuracy: 0.6207
Epoch 63/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3217 - accuracy: 0.6293
Epoch 64/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3209 - accuracy: 0.6293
Epoch 65/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3200 - accuracy: 0.6379
Epoch 66/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3192 - accuracy: 0.6293
Epoch 67/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3184 - accuracy: 0.6293
Epoch 68/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3176 - accuracy: 0.6293
Epoch 69/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3169 - accuracy: 0.6379
Epoch 70/150
4/4 [==============================] - 0s 2ms/step - loss: 0.3161 - accuracy: 0.6379
Epoch 71/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3153 - accuracy: 0.6379
Epoch 72/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3146 - accuracy: 0.6466
Epoch 73/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3138 - accuracy: 0.6379
Epoch 74/150
4/4 [==============================] - 0s 2ms/step - loss: 0.3130 - accuracy: 0.6293
Epoch 75/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3122 - accuracy: 0.6293
Epoch 76/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3113 - accuracy: 0.6466
Epoch 77/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3105 - accuracy: 0.6552
Epoch 78/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3097 - accuracy: 0.6552
Epoch 79/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3089 - accuracy: 0.6552
Epoch 80/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3080 - accuracy: 0.6552
Epoch 81/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3072 - accuracy: 0.6552
Epoch 82/150
4/4 [==============================] - 0s 2ms/step - loss: 0.3065 - accuracy: 0.6552
Epoch 83/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3056 - accuracy: 0.6552
Epoch 84/150

4/4 [==============================] - 0s 3ms/step - loss: 0.3049 - accuracy: 0.6552
Epoch 85/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3041 - accuracy: 0.6638
Epoch 86/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3034 - accuracy: 0.6638
Epoch 87/150
4/4 [==============================] - 0s 2ms/step - loss: 0.3026 - accuracy: 0.6552
Epoch 88/150
4/4 [==============================] - 0s 2ms/step - loss: 0.3019 - accuracy: 0.6552
Epoch 89/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3011 - accuracy: 0.6552
Epoch 90/150
4/4 [==============================] - 0s 3ms/step - loss: 0.3004 - accuracy: 0.6638
Epoch 91/150
4/4 [==============================] - 0s 2ms/step - loss: 0.2997 - accuracy: 0.6638
Epoch 92/150
4/4 [==============================] - 0s 3ms/step - loss: 0.2990 - accuracy: 0.6638
Epoch 93/150
4/4 [==============================] - 0s 3ms/step - loss: 0.2982 - accuracy: 0.6724
Epoch 94/150
4/4 [==============================] - 0s 3ms/step - loss: 0.2975 - accuracy: 0.6810
Epoch 95/150
4/4 [==============================] - 0s 2ms/step - loss: 0.2968 - accuracy: 0.6552
Epoch 96/150
4/4 [==============================] - 0s 2ms/step - loss: 0.2960 - accuracy: 0.6552
Epoch 97/150
4/4 [==============================] - 0s 3ms/step - loss: 0.2953 - accuracy: 0.6552
Epoch 98/150
4/4 [==============================] - 0s 3ms/step - loss: 0.2946 - accuracy: 0.6552
Epoch 99/150
4/4 [==============================] - 0s 3ms/step - loss: 0.2938 - accuracy: 0.6552
Epoch 100/150
4/4 [==============================] - 0s 2ms/step - loss: 0.2932 - accuracy: 0.6638
Epoch 101/150
4/4 [==============================] - 0s 3ms/step - loss: 0.2924 - accuracy: 0.6638
Epoch 102/150
4/4 [==============================] - 0s 3ms/step - loss: 0.2917 - accuracy: 0.6638
Epoch 103/150
4/4 [==============================] - 0s 2ms/step - loss: 0.2910 - accuracy: 0.6638
Epoch 104/150
4/4 [==============================] - 0s 2ms/step - loss: 0.2903 - accuracy: 0.6638
Epoch 105/150
4/4 [==============================] - 0s 3ms/step - loss: 0.2896 - accuracy: 0.6638
Epoch 106/150
4/4 [==============================] - 0s 3ms/step - loss: 0.2888 - accuracy: 0.6638
Epoch 107/150
4/4 [==============================] - 0s 2ms/step - loss: 0.2882 - accuracy: 0.6638
Epoch 108/150
4/4 [==============================] - 0s 3ms/step - loss: 0.2874 - accuracy: 0.6638
Epoch 109/150
4/4 [==============================] - 0s 3ms/step - loss: 0.2867 - accuracy: 0.6638
Epoch 110/150
4/4 [==============================] - 0s 3ms/step - loss: 0.2860 - accuracy: 0.6638
Epoch 111/150
4/4 [==============================] - 0s 3ms/step - loss: 0.2853 - accuracy: 0.6638
Epoch 112/150
4/4 [==============================] - 0s 4ms/step - loss: 0.2846 - accuracy: 0.6638
Epoch 113/150
4/4 [==============================] - 0s 3ms/step - loss: 0.2838 - accuracy: 0.6638
Epoch 114/150
4/4 [==============================] - 0s 3ms/step - loss: 0.2831 - accuracy: 0.6638
Epoch 115/150
4/4 [==============================] - 0s 3ms/step - loss: 0.2824 - accuracy: 0.6638
Epoch 116/150
4/4 [==============================] - 0s 3ms/step - loss: 0.2816 - accuracy: 0.6638
Epoch 117/150
4/4 [==============================] - 0s 3ms/step - loss: 0.2809 - accuracy: 0.6724
Epoch 118/150
4/4 [==============================] - 0s 3ms/step - loss: 0.2801 - accuracy: 0.6724
Epoch 119/150
4/4 [==============================] - 0s 3ms/step - loss: 0.2794 - accuracy: 0.6724
Epoch 120/150
4/4 [==============================] - 0s 2ms/step - loss: 0.2787 - accuracy: 0.6724
Epoch 121/150
4/4 [==============================] - 0s 2ms/step - loss: 0.2779 - accuracy: 0.6724
Epoch 122/150
4/4 [==============================] - 0s 3ms/step - loss: 0.2773 - accuracy: 0.6724
Epoch 123/150
4/4 [==============================] - 0s 3ms/step - loss: 0.2766 - accuracy: 0.6724
Epoch 124/150
4/4 [==============================] - 0s 3ms/step - loss: 0.2759 - accuracy: 0.6724
Epoch 125/150
4/4 [==============================] - 0s 3ms/step - loss: 0.2752 - accuracy: 0.6724
Epoch 126/150
4/4 [==============================] - 0s 3ms/step - loss: 0.2745 - accuracy: 0.6724
Epoch 127/150
4/4 [==============================] - 0s 3ms/step - loss: 0.2738 - accuracy: 0.6724
Epoch 128/150
4/4 [==============================] - 0s 3ms/step - loss: 0.2732 - accuracy: 0.6724
Epoch 129/150
4/4 [==============================] - 0s 3ms/step - loss: 0.2725 - accuracy: 0.6724
Epoch 130/150
4/4 [==============================] - 0s 3ms/step - loss: 0.2718 - accuracy: 0.6724
Epoch 131/150
4/4 [==============================] - 0s 2ms/step - loss: 0.2712 - accuracy: 0.6724
Epoch 132/150
4/4 [==============================] - 0s 3ms/step - loss: 0.2705 - accuracy: 0.6724
Epoch 133/150
4/4 [==============================] - 0s 3ms/step - loss: 0.2699 - accuracy: 0.6724
Epoch 134/150
4/4 [==============================] - 0s 3ms/step - loss: 0.2692 - accuracy: 0.6810
Epoch 135/150
4/4 [==============================] - 0s 2ms/step - loss: 0.2686 - accuracy: 0.6810
Epoch 136/150
4/4 [==============================] - 0s 2ms/step - loss: 0.2679 - accuracy: 0.6810
Epoch 137/150
4/4 [==============================] - 0s 3ms/step - loss: 0.2672 - accuracy: 0.6810
Epoch 138/150
4/4 [==============================] - 0s 3ms/step - loss: 0.2666 - accuracy: 0.6810
Epoch 139/150
4/4 [==============================] - 0s 3ms/step - loss: 0.2659 - accuracy: 0.6810
Epoch 140/150
4/4 [==============================] - 0s 2ms/step - loss: 0.2653 - accuracy: 0.6810
Epoch 141/150
4/4 [==============================] - 0s 3ms/step - loss: 0.2647 - accuracy: 0.6638
Epoch 142/150
4/4 [==============================] - 0s 3ms/step - loss: 0.2640 - accuracy: 0.6638
Epoch 143/150
4/4 [==============================] - 0s 3ms/step - loss: 0.2634 - accuracy: 0.6810
Epoch 144/150
4/4 [==============================] - 0s 2ms/step - loss: 0.2627 - accuracy: 0.6810
Epoch 145/150
4/4 [==============================] - 0s 3ms/step - loss: 0.2621 - accuracy: 0.6810
Epoch 146/150
4/4 [==============================] - 0s 3ms/step - loss: 0.2614 - accuracy: 0.6724
Epoch 147/150
4/4 [==============================] - 0s 3ms/step - loss: 0.2608 - accuracy: 0.6810
Epoch 148/150
4/4 [==============================] - 0s 2ms/step - loss: 0.2601 - accuracy: 0.6810
Epoch 149/150
4/4 [==============================] - 0s 2ms/step - loss: 0.2595 - accuracy: 0.6810
Epoch 150/150
4/4 [==============================] - 0s 3ms/step - loss: 0.2589 - accuracy: 0.6810

In [355]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn2.evaluate(X_test2, y_test2, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

1/1 - 0s - loss: 0.3452 - accuracy: 0.3103 - 103ms/epoch - 103ms/step
Loss: 0.3452378213405609, Accuracy: 0.3103448152542114

In [ ]:
"""
some other things I tried that ended up getting deleted
- using the radial basis function recommended by the creators of the dataset
    > this got basically the same result
- dropping course ID and some other columns I thought might be less important for how many categories they took up
    > this pretty significantly weakened the model, dropped to the 30s
-  increasing number of hidden layers, nodes, epochs
    > this seemed to just cause it to overfit more, once again hurting the accuracy
- increasing and decreasing the size of the training / testing sets
    > decreasing the training set's size only hurt the model, and smaller testing sets just gave more varied results, so even if it occasionally hit higher, it was just due to a small sample size
"""